:root {
    --lu-color-white: #fff;

    --lu-text-color-primary: #303133;
    --lu-text-color-regular: #606266;
    --lu-text-color-secondary: #909399;
    --lu-text-color-placeholder: #a8abb2;
    --lu-text-color-disabled: #c0c4cc;

    --lu-color-primary: #1e80ff;
    --lu-color-primary-1:  #79bbff;
    --lu-color-primary-2:  #a0cfff;
    --lu-color-primary-3:  #c6e2ff;

    --lu-color-danger: #f13e3a;
    --lu-color-danger-1: #f56c6c;
    --lu-color-danger-2: #f89898;
    --lu-color-danger-3: #fab6b6;

    --lu-color-info: #73767a;
    --lu-color-info-1: #909399;
    --lu-color-info-2: #b1b3b8;
    --lu-color-info-3: #c8c9cc;

    --lu-text-color-primary: #303133;
    --lu-text-color-regular: #606266;
    --lu-text-color-secondary: #909399;
    --lu-text-color-placeholder: #a8abb2;
    --lu-text-color-disabled: #c0c4cc;

    --lu-font-size-small: 12px;
    --lu-font-size-medium: 14px;
    --lu-font-size-large: 16px;

    --lu-border-radius-circle: 100%;
    --lu-border-radius-round: 20px;
    --lu-border-radius-base: 4px;

    --el-component-size-large: 40px;
    --el-component-size: 32px;
    --el-component-size-small: 24px;

}
